<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewData["Title"] | Book Store Application</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">

                <img src="~/images/dp.JPG" width="30" height="30" />
                Book Store
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="AboutUs">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="ContactUS">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="book" asp-action="getallbooks">All Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-protocol="http" asp-host="lib.com" asp-controller="Book" asp-action="GetAllBooks">New Link</a>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    @*<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">*@
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button>
                </form>
            </div>
        </nav>
    </header>
    @RenderSection("breadcrum", required: false)

    <main role="main">
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted text-center">
        <div class="container">
            copyright &copy; Book Store @DateTime.Now.Year
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
